---

import Layout from '../../layouts/Layout.astro';

---


<Layout title="Books">

   <h1
                    class="text-3xl  tracking-tighter  font-display font-normal md:text-6xl lg:text-4xl xl:text-4xl text "              
                    
                    >


                   Books
                    </h1>


<p>
This side of my site is still a work in progress 
</p>

</Layout>