---

import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";

import { BOOK } from "@consts";


---

<PageLayout title={BOOK.TITLE} description={BOOK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
      <p class=" text-2xl">
        {BOOK.TITLE}
        </p>
      </div>

      <p class=" text-xl">
       Currently reading
        </p>
         <ul class="animate flex flex-col gap-4">


<li>
Crying in H Mart by Michelle Zauner
</li>

      </ul> 

    <p class=" text-xl">
      Want to read
        </p>
   

      <ul class="animate flex flex-col gap-4">

<li>

</li>

      </ul> 
    </div>
  </Container>
</PageLayout>
