<!-- <footer class="my-12 pb-4 text-neutral-500 border-t"> --!>

<footer class="mt-8 border-t border-gray-900/10 text-neutral-700 text-xs pt-2">
  <p class="text-center text-sm ">
   This website is a constant work in progress and was last updated <span class="hover:underline "> 16th of March </span>
  </p>

  <p class="text-center text-xs  mt-1">
  Copyright © {new Date().getFullYear()}. All rights reserved.
    </a>
  </p>
</footer>