
---

const navigations = [
  {name: "Blog", href: "/blog" },
    {name: "Book", href: "/book" },
      {name: "TIL", href: "/til" },

]


---

<header class="">

  <nav class="flex items-center justify-between py-6" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="">Rahmat</span>
           </a>
    </div>
 

    <div class=" flex flex-1 justify-end gap-x-4">


  {navigations.map((nav) => (
       
       
          <a href={nav.href} class="text-sm hover:underline leading-6 >
            <p class="md:text-xl text-lg ">
              <span class="hover:underline hover:text-[#1c63f1] hover:underline-offset-2"> {nav.name} </span>
            </p>
          </a>

    
 

      ))}

    </div>
  </nav>

</header>
