---
import Layout from '../../layouts/Layout.astro';

interface Post {
  title: string;
  overview: string;
  publishedAt: string;
  category: string[];
  slug: string;
  content: { markdown: string }[];
}


import Post from "../../components/Post.astro";

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
      {
        posts(orderBy: publishedAt_ASC) {
 

    overview
    publishedAt
    slug
    title

    content {
markdown
    }
  }
      }`,
        
    }),
  });

  const json = await response.json();

  const paths = json.data.posts.map((post: Post) => ({
    params: { slug: post.slug },
    props: { post },
  }));

  console.log(paths)

  return paths;
}

const { post } = Astro.props as { post: Post };


---


<Layout title="Blog">

<h3 class="text-4xl ">
{post.title}
</h3>


 <Post post={post} />
</Layout>