---
import Layout from '../../layouts/Layout.astro';
import { postFragment } from "../../../fragments/posts";

export async function getStaticPaths() {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
      {
        posts(orderBy: publishedAt_ASC) {
 

    overview
    publishedAt
    slug
    title

    content {
      markdown
    }
  }
      }`,
        
    }),
  });

  const json = await response.json();

  const paths = json.data.posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));

  console.log(paths)

  return paths;
}

const { post } = Astro.props;
  console.log(post.content.markdown)

---


<Layout title="Blog">

<h3>
{post.title}
</h3>
<p>
{post.category}
</p>
<p>
{post.content.markdown}
</p>
</Layout>