---

import Layout from '../../layouts/Layout.astro';
---


<Layout title="Bookmarks">

<div class="pb-4">
   <h1
                    class="text-3xl  tracking-tighter  font-display font-normal md:text-6xl lg:text-4xl xl:text-4xl text "              
                    
                    >


                   Bookmarks
                    </h1>
</div>

</Layout>