---

import Layout from '../../layouts/Layout.astro';

---


<Layout title="Daily Deepwork">

<div class="md:pt-20 pt-11 border-b md:pb-20">
<div class="">
   <h1
                    class="text-2xl  tracking-tighter  font-display font-normal md:text-6xl lg:text-4xl xl:text-4xl text "              
                    
                    >


                  Daily Deepwork
                    </h1>


<div class="pt-8">


 
<p>
This section is inspired by the tweets of <a> </a>, tracking my deep work sessions.
The original concept of deepwork was originally conceived by Cal Newport in his book of the same name.
</p>
</div>

<div class="my-8">


</div>
                    </div>
                     </div>


</Layout>