---
// Assets

---
<div class="fixed  left-0 right-0 flex justify-left z-50">

    <div class="flex items-right justify-between p-0.5 gap-1">
      <!-- Logo/Home button -->
      <a
        href="/"
        aria-label="Home"
        class="flex font-medium justify-center transition-all rounded-lg items-center duration-300 focus:ring-2 focus:outline-none focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-base-900 text-base-900 dark:text-white  dark:text-white dark:bg-base-800 dark:hover:bg-base-800 dark:focus:outline-base-800 size-10 text-sm dark:focus:ring-offset-base-900"
      >
          Rahmat
      </a>

      <div class="flex">
          <a
            href="/books"
            aria-label="Books"
            class="flex font-medium justify-center transition-all rounded-lg items-center duration-300 focus:ring-2 focus:outline-none focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-base-900 text-base-900 dark:text-white  dark:text-white dark:bg-base-800 dark:hover:bg-base-800 dark:focus:outline-base-800 size-10 text-sm dark:focus:ring-offset-base-900"
          >
              Books
          </a>
          <a
            href="/resources"
            aria-label="Resources"
            class="flex font-medium justify-center transition-all rounded-lg items-center duration-300 focus:ring-2 focus:outline-none focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-base-900 text-base-900 dark:text-white  dark:text-white dark:bg-base-800 dark:hover:bg-base-800 dark:focus:outline-base-800 size-10 text-sm dark:focus:ring-offset-base-900"
          >Resources
          </a>
      </div>


  </div>
</div>
