<footer class="my-20 pb-12">
  <p class="text-center text-sm ">
   This website is a constant work in progress
  </p>

  <p class="text-center text-xs  mt-1">
  Copyright © {new Date().getFullYear()}. All rights reserved.
    </a>
  </p>
</footer>